---
http_interactions:
- request:
    method: get
    uri: http://www.geostore.com/OGC/OGCInterface?Filter=(%3CFilter%3E%3CIntersects%3E%3CPropertyName%3EGeometry%3C/PropertyName%3E%3Cgml:Point%3E%3Cgml:coordinates%3E356954,210303%3C/gml:coordinates%3E%3C/gml:Point%3E%3C/Intersects%3E%3C/Filter%3E)&INTERFACE=ENVIRONMENTWFS&MSVER=6&REQUEST=GetFeature&SERVICE=WFS&SRS=EPSG:27700&TYPENAME=ea-wfs-area_public_face_inspire&VERSION=1.1.0&propertyName=long_name,short_name,code,area_id,area_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding=\"ISO-8859-1\" ?>\n<wfs:FeatureCollection\n
        \  xmlns:ms=\"http://mapserver.gis.umn.edu/mapserver\"\n   xmlns:gml=\"http://www.opengis.net/gml\"\n
        \  xmlns:wfs=\"http://www.opengis.net/wfs\"\n   xmlns:ogc=\"http://www.opengis.net/ogc\"\n
        \  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n   xsi:schemaLocation=\"http://mapserver.gis.umn.edu/mapserver
        http://www.geostore.com/OGC/OGCInterface?SESSIONID=52102680&amp;INTERFACE=ENVIRONMENTWFS&amp;SERVICE=WFS&amp;VERSION=1.1.0&amp;REQUEST=DescribeFeatureType&amp;TYPENAME=ea-wfs-area_public_face_inspire&amp;OUTPUTFORMAT=text/xml;%20subtype=gml/3.1.1
        \ http://www.opengis.net/wfs http://schemas.opengis.net/wfs/1.1.0/wfs.xsd\">\n
        \     <gml:boundedBy>\n      \t<gml:Envelope srsName=\"EPSG:27700\">\n      \t\t<gml:lowerCorner>316112.900000
        187934.400000</gml:lowerCorner>\n      \t\t<gml:upperCorner>416708.300000
        344631.400000</gml:upperCorner>\n      \t</gml:Envelope>\n      </gml:boundedBy>\n<!--
        WARNING: FeatureId item 'ogr_fid' not found in typename 'ea-wfs-area_public_face_inspire'.
        -->\n    <gml:featureMember>\n      <ms:ea-wfs-area_public_face_inspire>\n
        \       <ms:long_name>Shropshire Herefordshire Worcestershire and Gloucestershire</ms:long_name>\n
        \       <ms:short_name>Shrops Heref Worcs and Glos</ms:short_name>\n        <ms:code>SHHRWG</ms:code>\n
        \       <ms:area_id>31.000000000000000</ms:area_id>\n        <ms:area_name>West</ms:area_name>\n
        \     </ms:ea-wfs-area_public_face_inspire>\n    </gml:featureMember>\n</wfs:FeatureCollection>\n\n"
  recorded_at: Tue, 08 Mar 2016 15:47:35 GMT
[...]
