---
http_interactions:
- request:
    method: get
    uri: http://environment.data.gov.uk/ds/wfs?Filter=(%3CFilter%3E%3CIntersects%3E%3CPropertyName%3EGeometry%3C/PropertyName%3E%3Cgml:Point%3E%3Cgml:coordinates%3E358205.03,172708.07%3C/gml:coordinates%3E%3C/gml:Point%3E%3C/Intersects%3E%3C/Filter%3E)&INTERFACE=ENVIRONMENTWFS&MSVER=6&REQUEST=GetFeature&SERVICE=WFS&SRS=EPSG:27700&TYPENAME=ea-wfs-area_water_management_inspire&VERSION=1.1.0&propertyName=long_name,short_name,code,area_id,area_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding=\"ISO-8859-1\" ?>\n<wfs:FeatureCollection\n
        \  xmlns:ms=\"http://www.mapserver.org/mapserver\"\n   xmlns:gml=\"http://www.opengis.net/gml\"\n
        \  xmlns:wfs=\"http://www.opengis.net/wfs\"\n   xmlns:ogc=\"http://www.opengis.net/ogc\"\n
        \  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n   xsi:schemaLocation=\"http://www.mapserver.org/mapserver
        http://www.geostore.com/OGC/OGCInterface?SESSIONID=52102680&amp;INTERFACE=ENVIRONMENTWFS&amp;SERVICE=WFS&amp;VERSION=1.1.0&amp;REQUEST=DescribeFeatureType&amp;TYPENAME=ea-wfs-area_water_management_inspire&amp;OUTPUTFORMAT=text/xml;%20subtype=gml/3.1.1
        \ http://www.opengis.net/wfs http://schemas.opengis.net/wfs/1.1.0/wfs.xsd\">\n
        \     <gml:boundedBy>\n      \t<gml:Envelope srsName=\"EPSG:27700\">\n      \t\t<gml:lowerCorner>274754.400000
        68244.800000</gml:lowerCorner>\n      \t\t<gml:upperCorner>428460.000000 202840.000000</gml:upperCorner>\n
        \     \t</gml:Envelope>\n      </gml:boundedBy>\n<!-- WARNING: FeatureId item
        'ogr_fid' not found in typename 'ea-wfs-area_water_management_inspire'. -->\n
        \   <gml:featureMember>\n      <ms:ea-wfs-area_water_management_inspire>\n
        \       <ms:long_name>Wessex</ms:long_name>\n        <ms:short_name>Wessex</ms:short_name>\n
        \       <ms:code>WESSEX</ms:code>\n        <ms:area_id>28.00000000000</ms:area_id>\n
        \       <ms:area_name>Wessex</ms:area_name>\n      </ms:ea-wfs-area_water_management_inspire>\n
        \   </gml:featureMember>\n</wfs:FeatureCollection>\n\n"
  recorded_at: Wed, 13 Jul 2016 09:30:37 GMT
recorded_with: VCR 3.0.3
